{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

<!-- DO I ITERATE OVER THE OBJECT TO GET ALL ATTS? -->
{% block content %}

{% if user.is_authenticated %}
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="user-profile-block">
                    <div class="fb-profile-block-thumb cover-container"></div>
                    <div class="profile-img">
                        <a href="">
                            <img src="{{ user_profile.profile_picture.url }}" alt="">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>{{ twitter_screen }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid mt-5">
            
            <div class="row">
                <div class="col-lg-2 col-sm-12 align-items-start">
                    <!-- IF NULL LOAD SCREEN NAME -->
                    <!-- SEARCH FUNCTION ON SOCIAL FOLLOWERS -->
                    <p><b><i class="fas fa-users"></i>  Social Followers</b>: {{ twitter_followers }}</p>
                    <p><b><i class="fas fa-user-plus"></i>  Friends</b>: {{ user_profile.friends }}</p>
                    <p><b>State</b>: {{ user_profile.state }}</p>
                    <p><b>City</b>: {{ user_profile.city }}</p>
                </div>
                <div class="col-lg-5 col-sm-12 align-items-start">
                    <p><b>Name</b>: {{ twitter_name }}</p>
                    <p><i class="far fa-envelope"></i> {{ user.email }}</p>
                    <p><i class="fab fa-twitter-square"></i>  <a href="{{ user_profile.social_media }}"> {{ user_profile.social_media }}</a></p>
                    <p><i class="fas fa-photo-video"></i>  <a href="{{ user_profile.portfolio.links }}"> {{ user_profile.portfolio_links }}</a></p>
                </div>
                <!-- <div class="col-lg-3 col-sm-12">
                    <div class="text-center">
                        <p><b>Experience</b></p>
                    </div>
                    <p>{{ user_profile.experience }}</p>
                </div> -->
                <div class="col-lg-5 col-sm-12">
                    <div class="text-center">
                        <p><b>Bio</b></p>
                    </div>
                    <p>{{ user_profile.bio }}</p>
                </div>
            </div>
            <br>
        </div>
        <hr>
    <!-- WORK ON AUTH -->
    <div class="text-center">
        {% if request.user.id == auth.id %}
            
            <!-- CREATE BUTTON TO PUSH INSTEAD -->
            <!-- DONT FORGET ENCTYPE -->
            <button class="postbtn btn btn-outline-dark">Upload Photo</button>    
            <a method="GET" href="{% url 'update_profile' %}">
                <button class="btn btn-outline-dark">Update Profile</button>
            </a>
            <a href="#">
                <button class="btn btn-outline-dark">Photo Library</button>
            </a>
            <hr>
        {% else %}
            <a href="{% url 'create-msg' create_msg.id %}">
                <button class="btn btn-outline-dark">Create Message</button>
            </a>
            <a href="#">
                <button class="btn btn-outline-dark">Photo Library</button>
            </a>
            <hr>
        {% endif %}
    </div>

    <br><br>
    <div class="text-center">
        <!-- Upload photos -->
        <form class="postform" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in postForm %}
                <p>Title*</p>  
                <p class="mt-1">  {{ field }}</p>
            {% endfor %}

            {{ formset.management_form }}
            {% for form in formset %} 
                {{ form|crispy }}
            {% endfor %}
            <button class="btn btn-outline-dark" type="submit" name="submit" value="Submit" multiple>Upload</button>
        </form>
    </div>
        <br><br>
    </div>

{% endif %}
    
{% endblock %}

<!-- 
<form action="/action_page.php">
    Select images: <input type="file" name="img" multiple>
    <input type="submit">
  </form> -->