{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

<!-- DO I ITERATE OVER THE OBJECT TO GET ALL ATTS? -->
{% block content %}

{% if user.is_authenticated %}
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="user-profile-block">
                    <div class="fb-profile-block-thumb cover-container"></div>
                    <div class="profile-img">
                        <a href="">
                            <img src="{{ user_profile.profile_picture.url }}" alt="">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>{{ twitter_screen }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container animation_in">
        <div class="container-fluid mt-5">
            <div class="container shadow">
                <h4 class="text-center mt-1" id="center_info">Info</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mt-2 align-items-start">
                        <!-- IF NULL LOAD SCREEN NAME -->
                        <!-- SEARCH FUNCTION ON SOCIAL FOLLOWERS -->
                        <p><b>Name</b>: {{ user_profile.first_name }}</p>
                        <p><b><i class="fas fa-map-marker-alt"></i>  Location</b>: {{ user_profile.location }}</p>
                        <p><b><i class="fas fa-users"></i>  Social Followers</b>: {{ user_profile.follower_amount }}</p>
                        <p><b><i class="fas fa-user-plus"></i>  <a href="{% url 'friends_list' user_profile.user.id %}">Friends</a></b>: {{ friends }}</p>
                        <p><b>Profession:</b> {{ user_profile.profession }}</p>
                        <div class="text-left">
                            <span class="text-center"><h4 id="links">Links</h4></span>
                            <p><i class="far fa-envelope"></i>  {{ user_profile.email }}</p>
                            <p><i class="fab fa-twitter-square"></i>  <a href="https://www.twitter.com/{{ twitter_screen }}/">https://www.twitter.com/{{ twitter_screen }}/</a></p>
                            <p><i class="fas fa-photo-video"></i>  <a href="{{ user_profile.portfolio.links }}"> {{ user_profile.portfolio_links }}</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 mt-2">
                        <div class="text-center">
                            <p><b>Bio</b></p>
                        </div>
                        <p>{{ user_profile.bio }}</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <hr>
    <!-- WORK ON AUTH -->
    <div class="text-center">
        {% if request.user.id == auth.id %}
            <!-- CREATE BUTTON TO PUSH INSTEAD -->
            <!-- DONT FORGET ENCTYPE -->
            {% if images.count <= 12 %}
                <button class="postbtn btn btn-outline-dark mr-1">Upload Photo</button>
            {% else %}
                <p>MAX PHOTO</p>
            {% endif %}  
            <a method="GET" href="{% url 'update_profile' %}">
                <button class="btn btn-outline-dark">Update Profile</button>
            </a>
            <a href="{% url 'photo_library' user.id %}">
                <button class="btn btn-outline-dark ml-1">Photo Library</button>
            </a>
            <hr>
        {% else %}
            <div class="row" id="center_profile_btn">
                    <form action="{% url 'friends_list' user_profile.user.id %}" method='POST'>
                        <a href="#">
                            {% csrf_token %}
                            <button type='Submit' class="btn btn-outline-dark mr-1"><i class="fas fa-user-plus"></i> Add Friend</button>
                        </a>
                    </form>
                    <a href="{% url 'create-msg' create_msg.id %}">
                        <button class="btn btn-outline-dark mr-1 ml-1">Create Message</button>
                    </a>
                    <a href="{% url 'photo_library' user_profile.user.id %}">
                        <button class="btn btn-outline-dark ml-1">Photo Library</button>
                    </a>       
            </div>
            <hr>
        {% endif %}
    </div>

    <br><br>
    <div class="text-center">
        <!-- Upload photos -->
        <form class="postform" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="file-input mb-2" type="file" name="image_file"><br>
            <button class="btn btn-outline-dark" type="submit" value="Submit">Submit</button>
        </form>
        <br>
        <div class="text-center">
            <h4>HIGHLIGHTED PHOTO'S</h4>
        </div>
        <div class="container shadow-lg pt-5 pb-4">

            <!-- BUG FORSOME REASON THIS ONLY WORKS ON CURRENT PROFILE -->
            <div class="row">
                {% for image in images %}
                    <div class="col-lg-3 col-md-4 col-sm-9 text-center">
                        <img class="user-img profile_photos" id="myImg" src="{{ image.file.url }}" alt="">
                        {% if request.user.id == auth.id %}
                            <a href="{% url 'delete' image.id %}" class="remImage">
                                <button type="submit" class="btn btn-outline-dark mb-3" id="profile_delete">X</button>
                            </a>
                        {% else %}
                            <br><br>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close"><br><br>&times;</span>
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                    <br><br>
                </div>

            </div>
        </div>
        <br><br>
    </div>
</div>

{% endif %}
    
{% endblock %}


<!-- 
<form action="/action_page.php">
    Select images: <input type="file" name="img" multiple>
    <input type="submit">
  </form> -->
<!-- 
  <div class="test" id="test">
	<img width="450" height="300" src="http://cdn.wallpapersafari.com/51/38/02ukc1.jpg">	
	
	<a class="remImage" href="#" id="delete">
		<img src="https://image.flaticon.com/icons/svg/261/261935.svg" style="width:40px;height:40px;">
	</a>   
</div> -->
