{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

<!-- DO I ITERATE OVER THE OBJECT TO GET ALL ATTS? -->
{% block content %}

    {% if user.is_authenticated %}
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="user-profile-block">
                    <div class="fb-profile-block-thumb cover-container"></div>
                    <div class="profile-img">
                        <a href="">
                            <img src="{{ user_profile.profile_picture.url }}" alt="">
                        </a>
                    </div>
                    <div class="profile-name">
                        <h2>{{ user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-lg-6 align-items-start">
                    <h4><b>Name</b>: {{ user.first_name }}</h4>
                    <h4><i class="far fa-envelope"></i> {{ user.email }}</h4>
                    <h4><i class="fab fa-twitter-square"></i>  <a href="{{ user_profile.social_media }}"> {{ user_profile.social_media }}</a></h4>
                    <h4><i class="fas fa-photo-video"></i>  <a href="{{ user_profile.portfolio.links }}"> {{ user_profile.portfolio_links }}</a></h4>
                </div>
                <div class="col-lg-6 align-items-start">
                    <!-- SEARCH FUNCTION ON SOCIAL FOLLOWERS -->
                    <h4><b><i class="fas fa-users"></i>  Social Followers</b>: {{ twitter_followers }}</h4>
                    <h4><b><i class="fas fa-user-plus"></i>  Cliques</b>: {{ user_profile.cliques }}</h4>
                    <h4><b>State</b>: {{ user_profile.state }}</h4>
                    <h4><b>City</b>: {{ user_profile.city }}</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <h4><b>Experience</b></h4>
                    </div>
                    <h4>{{ user_profile.experience }}</h4>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <h4><b>Bio</b></h4>
                    </div>
                    <h4>{{ user_profile.bio }}</h4>
                </div>
            </div>
            <br>
        </div>
        <hr>
        <!-- CREATE BUTTON TO PUSH INSTEAD -->
        <!-- DONT FORGET ENCTYPE -->
        <button class="postbtn btn btn-outline-dark">Upload Photo</button>    
        <a href="{% url 'update_profile' %}">
            <button class="btn btn-outline-dark">Update Profile</button>
        </a>  
        <br>
        <br>
        <!-- Upload photos -->
        <form class="postform" id="post_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- RESEARCH hidden_fields -->
            {% for hidden in postForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <p>Title*</p>
            {% for field in postForm %}
                {{ field }}
            {% endfor %}

            {{ formset.management_form }}
            {% for form in formset %}
                {{ form|crispy }}
            {% endfor %}
            <button class="btn btn-outline-dark" type="submit" name="submit" value="Submit">Upload</button>
        </form>
        <br><br>
    </div>

    {% for img in library %}
        <div>
            <img src="{{ img.image.url }}" alt="">
        </div>
    {% endfor %}

    {% endif %}
    
{% endblock %}