{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Update Profile{% endblock %}

{% block content %}

    <br><br>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="container text-center mt-4">
            <h4>Updating {{ user.username }}'s Profile</h4>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Update</button>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock %}
