
html,body{
    height: 100%;
}
.container{
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.butts{
    border-radius: 25px;
    width: 150px;
}
#b1{
    background-color: cadetblue;
}
#b2{
    background-color: rgb(185, 177, 62);
}
#b3{
    background-color: rgb(74, 51, 104);
}
#b4{
    background-color: rgb(219, 2, 2);
    color: gray;
}
