{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container text-center">
  <div class="container shadow-lg mt-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rerum modi error vitae velit aut sit vel dignissimos dicta ad harum non pariatur hic beatae quia, magni officiis. Sint, corporis.
    Dolor unde nostrum aliquid, hic deserunt eveniet voluptatum earum iusto tempora et architecto sed placeat, ea perspiciatis, odio vel provident a aliquam quibusdam quo molestias quisquam. Dicta amet quos cumque?
    Dolores ratione, voluptatibus fugit eum repellat assumenda laborum nisi, nobis voluptatum quisquam non, fugiat dolorum. Quisquam quo ea earum similique beatae eos, iure consequatur nam, velit voluptatibus illo eum aut?</p>
  </div>
</div>
{% endblock %}
