{% extends 'blog/base.html' %}
<!-- THIS IS A INSTALLED LIBRARY TO MAKE FORM LOOK PRETTY -->
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            <!-- USED FOR FORM SECURITY -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <!-- THIS IS A INSTALLED LIBRARY TO MAKE FORM LOOK PRETTY -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}