html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.calculator{
    border: 1px solid rgb(8, 1, 1);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.calculator-screen{
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background: rgb(143, 62, 62);
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}
button{
    height: 60px;
    width: 60px;
    background: rgb(184, 117, 117);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    font-size: 2rem;
    text-shadow: 0 1px rgb(230, 193, 193);
}
button:hover{
    background-color: grey;
}
.operator{
    color: rgb(3, 0, 0);
}
.all-clear{
    background-color: rgb(70, 6, 6);
}
.equal-sign{
    background-color: rgb(96, 158, 167);
    grid-area: 2 / 4 / 6 / 5;
    height: 100%;
}
.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .equal-sign {
        background-color: yellow;
        color: black;
    }
}