/* ALL TEMPLATES */
body, html {
    font-family: 'Halant', serif;
    height: 100%;
    background-color: rgb(63, 63, 63);
}

/* CONTAINERS STRETCHS TO BOTTOM OF PAGE */
.container {
    background-color: rgb(231, 231, 231);
    min-height: 100%;
    overflow: hidden;
}

/* PROFILE TEMPLATE */
.user-profile-block {
    margin: auto;
    position: relative;
    width: 100%;
}
.cover-container {
      background: rgb(0, 0, 0);
      /* background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
      background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF) */
}
.fb-profile-block-thumb {
    display: block;
    height: 315px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.fb-profile-block-menu {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0 0 3px 3px;
}
.profile-img a {
      bottom: -35px;
      box-shadow: none;
      display: block;
      left: 50px;
      padding:1px;
      position: absolute;
      height: 160px;
      width: 160px;
      background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
      z-index:9;
}
.profile-img img {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:158px;
    padding: 5px;
    width:158px;
}
.profile-name {
    bottom: 60px;
    left: 235px;
    position: absolute;
}
.profile-name h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    max-width: 275px;
    position: relative;
    text-transform: uppercase;
}
/*  hide form */
.updateform {
    display: none;
}
.postform {
    display: none;
}

/* INBOX TEMPLATE */
table, th, td {
    border: 1px solid black;
    height: 5px;
}

/* FULL IMAGE FOR WELCOME PAGE */
.bg {
    background-image: url("../../static_images/welcome_page.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    color: #fff;
    padding: 4.7px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Login */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
#centerStuff {
    text-align: center;
}
.btn-outline-dark:hover {
    background-color:rgb(63, 63, 63);
    border-color:rgb(63, 63, 63);
}
.btn {
    padding-left: 4rem;
    padding-right: 4rem;
}