/* ALL TEMPLATES */
body, html {
    font-family: 'Halant', serif;
    height: 100%;
    margin: 0;
}

/* PROFILE TEMPLATE */
#profile_pic, img {
    width: 100px;
    height: 100px;
}

/* INBOX TEMPLATE */
table, th, td {
    border: 1px solid black;
    height: 5px;
}


/* FULL IMAGE FOR START */
.bg {
    background-image: url("/example_notes/Photos/welcome_page.webp");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}