/* ALL TEMPLATES */
body, html {
    

    /* font-family: 'Bowlby One SC', cursive; */

    font-family: 'Sriracha', cursive;

    /* font-family: 'Roboto Slab', serif; */


    /* font-family: 'Acme', sans-serif; */
    height: 100vh;
    padding: 0;
    margin: 0;
    /* background-color: rgb(63, 63, 63); */
    min-height: 100%;
    /* SEE HOW TO LET IT SCROLL ON THIS IMAGE */
    /* overflow: hidden; */
    background-image: url("../../static_images/welcome_page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    font-size: 1.13rem;
}
/* TESTING UNCOMMENT TO GET */
/* CONTAINERS STRETCHS TO BOTTOM OF PAGE */
.container {
    /* background-color: rgb(231, 231, 231); */
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(231, 231, 231, 0.8);
    box-shadow: 0px 0px 5px white;
    padding: 0px 50px;
}
a {
    font-size: 1.13rem;
    color: rgb(63,63,63);
}
a:hover {
    color: rgb(63, 63, 63)
}
i {
    color: rgb(128, 155, 106);
    /* color: rgb(63,63,63); */
    /* color: black; */
    /* color: rgba(180, 56, 56); */
}


/* ANIMATIONS */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX();
    }
}

.animation_in {
    animation: transitionIn .8s;
}







/* PROFILE TEMPLATE */
#profile_delete {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
}

#center_profile_btn {
    margin-left: 200px;
}
/* position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000; */
/* .crop_photo {
    display: inline-block;
    background-color: black;
    padding: 0;
    height: 325px;
    width: 225px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.774);
    
} */
/* #delete_btn {
    display: none;
} */
.profile_photos {
    vertical-align: middle;
    padding: 0;
    /* margin: 20px 10px 10px 20px; */
    max-height: 325px;
    max-width: 225px;
    /* align-items: center; */
    border-radius: 15px;
}
.user-profile-block {
    margin: auto;
    position: relative;
    width: 100%;
}
.cover-container {
      background: rgba(63, 63, 63, 0.315);
      /* background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
      background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF) */
}
.fb-profile-block-thumb {
    display: block;
    height: 315px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.fb-profile-block-menu {
    border: 1px solid rgba(231, 231, 231, 0.438);
    border-radius: 0 0 3px 3px;
}
.profile-img a {
    bottom: -35px;
    box-shadow: none;
    display: block;
    left: 50px;
    padding:1px;
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    z-index:3;
}
.profile-img img {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    height:220px;
    padding: 5px;
    width:220px;
}
.profile-name {
    bottom: 60px;
    left: 288px;
    position: absolute;
}
.profile-name h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    max-width: 275px;
    position: relative;
    text-transform: uppercase;
}
#center_info {
    border-bottom: 1px solid black;
}

/*  hide form */
.updateform {
    display: none;
}
.postform {
    display: none;
}
#id_title {
    width: 55%;
    border-radius: 12px;
    padding: 8px 8px;
}
#links {
    border-bottom: 1px solid black;
    width: auto;
}


.test {
    position: relative;
    float: left;
}
a.remImage i {
    box-shadow: none;
    position: absolute;
    right: 7px;
    top: -5px;
    margin-top: 4px;
    opacity: 0;
    display: block;
    transition: all .5s ease-in-out;
    height: 35px;
    width: 35px;
}
.test:hover a.remImage i {
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 5px;
}
.test:after {
    content: '';
    height: 325px;
    width: 225px;
    border-radius: 15px;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.test:hover:after{
    opacity: 1;
}
.info {
    display: none;
}
.info_btn {
    color: black;
    border-color: rgba(255, 255, 255, 0.473);
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: 1px 1px 3px black;
    padding-top: 1px;
    transition: ease .3s;
    border: 0;
    border-radius: 3px;

}
.info_btn:hover {
    background-color:rgba(63,63,63, 0.712);
    border-color:rgba(63,63,63, 0.712);
    color: white;
}







/* Login */
.card {
    margin: 0 auto;
    /* float: none; Added */
    margin-bottom: 10px; /* Added */
}
#centerStuff {
    text-align: center;
}
.btn-outline-dark {
    color: white;
    border-color: rgba(255, 255, 255, 0.473);
    background-color: rgba(255, 255, 255, 0.295);

}
.btn-outline-dark:hover {
    background-color:rgba(63,63,63, 0.712);
    border-color:rgba(63,63,63, 0.712);
}
.btn {
    padding-left: 4rem;
    padding-right: 4rem;
    color: black;
    box-shadow: 1px 1px 3px black;
}
#twitter_btn {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
    padding-top: 0px;
}
.card {
    background-color: rgba(255, 255, 255, 0.274);
}
.textinput {
    background-color: rgba(255, 255, 255, 0.274);
}
#login_cap {
    color: white;
}










/* INBOX */
.caption {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    color: #fff;
    padding: 4.7px;
    font-size: 25px;
    letter-spacing: 10px;
}
#create_msg_container {
    padding-bottom: 150px;
    margin-top: 110px;
}
#msg_container {
    height: 65vh;
}

#chat_sender {
    border: 100%;
    border-radius: 15px;
    background-color: rgb(175, 175, 175);
    color: white;
    width: auto;
    padding: 8px 8px;
    /* margin-top: 5px; */
    /* float: right; */
}
#chat_receiver {
    border: 100%;
    border-radius: 15px;
    /* background-color: rgb(180, 56, 56); */
    background-color: rgb(128, 155, 106);
    color: white;
    width: auto;
    padding: 8px 8px;
    /* margin-top: 5px; */
    /* float: left; */
}
#chat_bottom {
    width: 40%;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    margin-right: 0px;
}
#chat_send_btn {
    height: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0;
    padding-bottom: 40px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#msg_box {
    width: 100%;
    border-radius: 10px;
}    
#msg_list {
    padding: 5px 5px;
    border-radius: 10px;
    width: 100%;
}    
#msg_subject {
    padding: 5px 5px;
    border-radius: 10px;
    width: 100%;
}
#chat_box {
    overflow-y: scroll;
    min-height: 65vh;
    max-height: 65vh;
}
#msgbar_bottom {
    min-height: 20vh;
}










/* SEARCH FUNCTION */
#search_btn {
    margin-left: 139px;
}
.dropdown_search {
    width: 170px;
    float: right;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;

}

#search_caption {
    margin-top: 70px;
    top: 40%;
    color: #000;
}

#search_bar {
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 5px 5px;
}
.caption_search {
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}
#searchbar_form {
    width: 90%;
}

#dropdownMenuButton {
    /* padding-left: 5px;
    padding-right: 5px; */
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    height: 43px;
}
#searchbar_container {
    display: flex;
    margin-left: 150px;
}

/* SMALL IMAGES */
#small_img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 70px;
}
/* #small_search_result {
    margin-right: 200px;
} */
#search_jumbo {
    height: 160px;
    padding-top: 100px;
    /* margin-bottom: 20px; */
    background: rgba(63,63,63,  0.315);
    width: 100%;
    color: white;
}
.search_brand {
    /* margin-bottom: 20px; */
    /* width: 230px; */
    padding-left: 70px;
}
#search_container {
    padding-bottom: 120px;
}











/* HOMEPAGE TEMPLATE */
#rank_container {
    height: 175px;
}
#home_i{
    font-size: 7rem;
    margin-bottom: 30px;
    color: rgb(128, 155, 106);
}
/* SEE HOW TO EASE IN HOME PAGE */
#home_p {
    font-size: 1.5rem;
}
.title_brand {
    /* margin-bottom: 0; */
    width: 230px;
    border-bottom: 5px solid white;
    border-radius: 6px;
}
.blockquote-footer {
    font-size: 1.3rem;
    color: white;
}
#picture_container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }
  
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 1;
}
#title_text {
    margin-top: 142px;
    margin-right: 100px;
}
.display-4 {
    font-family: 'Bowlby One SC', cursive;
}
#homepage_caption {
    padding-top: 40px;
    padding-left: 20px;
    height: 450px;
    width: 100%;
    /* padding-left: 50px; */
    /* margin-right: 100px; */
    /* margin-left: 100px; */
    /* margin-right: 40px; */
    background: rgba(63,63,63, 0.315);
    /* margin-top: 150px; */
    /* top: 20%; */
    color: white;
}
#gallery_caption {
    border-bottom: 2px solid black;
}
#photo_divider {
    width: 35%;
    height: 5px;
    color: black;
}
.home_photos {
    vertical-align: middle;
    padding: 0;

    max-height: 250px;
    max-width: 150px;
    /* align-items: center; */
    border-radius: 15px;
}
#crop_photo_home {
    display: inline-block;
    background-color: black;
    padding: 0;
    height: 225px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.774);
}
#small_rank_btn {
    height: 30px;
    padding-left: 1.5rem;
}
#small_rank_img {
    /* float: left; */
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin-right: 70px;
    margin-bottom: 25px;
}
#small_rank_p {
    /* margin-right: 10px; */
    margin-bottom: 50px;
    font-size: 13px;
}









/* FRIENDSLIST TEMPLATE */
#search_results {
    border: 1px;
    padding-left: 80%;
    padding-right: 80%;
    border-radius: 8px;
    color: black;
    border-color: rgba(255, 255, 255, 0.473);
    background-color: rgba(255, 255, 255, 0.295);
    height: 40px;
    display: flex;
}
#search_results:hover {
    background-color:rgba(63,63,63, 0.712);
    border-color:rgba(63,63,63, 0.712);
}
#search_img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

#small_search_result {
    width: 80%;
}
/* #msg_list {
    padding: 5px 5px;
    border-radius: 10px;
    width: 100%;
}   */