{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

    <br><br>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Sign In</div>
        <div class="card-body">
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div id="centerStuff">
                        <button class="btn btn-outline-dark" type="submit">Login</button>
                    </div>
                </form>
            </p>
            <div id="centerStuff">
                <p class="card-text">
                    - OR -
                </p>
                <h4 class="card-text">
                    <!-- IF POSSIBLE ADD ALLAUTH OF ANY KIND AND ADD TAG -->
                    <a href="http://www.twitter.com/">
                        <i class="fab fa-twitter-square"></i> 
                    </a>
                </h4>
                <hr>

            </div>
        </div>
    </div>

{% endblock %}

<!-- 
<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Sign In</div>
    <div class="card-body">
      <p class="card-text">
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit">Enter</button>
        </form>
      </p>
    </div>
  </div> -->