body { 
    background: url(Pics/background.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn{
    color: rgb(0, 0, 0);
}
.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}
.jumbotron{
    background-color: rgba(147, 152, 155, 0.781);
}
#gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.card{
    margin-bottom: 32px;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
.navbar.scrolled {
    background: rgb(255, 255, 255);
    transition: background 1s;
}
.lead{
    font-weight: 600;
}