body { 
    background: url(Pics/background.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn{
    color: rgb(0, 0, 0);
}
.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}
.jumbotron{
    background-color: rgba(200, 210, 212, 0.486);
}
#gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.card{
    margin-bottom: 32px;
}