{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container text-center mt-5">
  <div class="container shadow-lg">
    <h1>book list</h1>
    <table class="table">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Due date</th>
        <th scope="col">Status</th>                    
      </tr>
      {% for book in all_books %}
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.book.title}}</td>
        <td>{{book.book.author}}</td>
        {% if book.is_overdue %}
          <td class="overdue">{{book.due_back}}</td>
        {% else %}
          <td>{{book.due_back}}</td>
        {% endif %}
        <td>
          {% if user.is_authenticated and book.status == 'a' %}
            <a href="{% url 'loan_book' book.id %}">Check out</a>
          {% elif user.is_authenticated and user != book.borrower and book.status == 'o' %}
            On loan
          {% elif user.is_authenticated and user == book.borrower %}
            <a href="{% url 'return_book' book.id %}">Return book</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
