body { 
    background: url(https://images.unsplash.com/photo-1570545834220-f708005efbed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.navbar{
    margin-bottom: 10px
}
.jumbotron{
    background-color: rgba(190, 207, 211, 0.5);
}
.card-container{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    width: 300px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    font-weight: 700;
}
.about{
    font-size: xx-large;
    color: rgb(6, 28, 29);
}
#quote{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}
.display-4 {
    font-weight: 600;
}
.btn{
    background-color: rgb(96, 129, 39);
    border-color: black;
    color: white;
}
.btn:hover{
    background-color: black;
}
