{% extends 'base.html' %}

{% block title %}Charged{% endblock %}


{% block content %}

    <div id="search_jumbo">
        <div class="row align-items-center">
        <div class="col-12">
            <h4 class="display-4 search_brand">Charged</h4>
        </div>
        </div>
    </div>

    <div class="container animation_in">
        <div class="container text-center shadow-lg" id="donate_container">
            <div class="" id="donate_caption"> 
                <h2>Thanks for the Donation!! <i class="far fa-laugh-beam"></i></h2>
            </div>
        </div>
    </div>

{% endblock %}