<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="homepage_caption">
  <br><br>
  <!-- ADD JUMBTRON HERE AND HAVE THE CLIQUE CAPTION AND THEN THE ABOUT BELOW ALL IN THE GREY -->
  <div class="row">
    <div class="col-3">
      <div class="mt-5 mb-5 pl-5">
        <h4 class="display-4">CREATE</h4>
        <h4 class="display-4">CONNECT</h4>
        <h4 class="display-4 title_brand">CLIQUE</h4>
      </div>
    </div>
    <div class="col-9">
      <div class="text-center" id="title_text">
        <blockquote class="blockquote">
          <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h4>
          <footer class="blockquote-footer">Jonathan Yates</footer>
        </blockquote>
        <!-- <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ab, sapiente, voluptas commodi obcaecati odit consectetur aliquam suscipit nobis error, </h4> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% if user.is_authenticated %}
    <br><br>



    <div class="row text-center mt-5">
      <div class="col-6">
        <div><a href="{% url 'search' %}"><i class="fas fa-search" id="home_i"></i></a></div>
        <p id="home_p">
          Use the Search to connect with Other Users
        </p>
      </div>
      <!-- ADD VERTICAL TAG HERE -->
      <!-- FIGURE OUT HOW TO SCROLL DOWN TO PHOTOS ON CLICK -->
      <div class="col-6">
        <div><i class="fas fa-photo-video" id="home_i"></i></div>
        <p id="home_p">
          Explore the Photos below to find Users
        </p>
      </div>
    </div>
    
    <br><br><br><br>
    <hr>
    <br><br>
    <div class="text-center">
      <h4><span id="gallery_caption">EXPLORE PHOTO GALLERY</span></h4>
      <br><br>

    </div>
    <div class="container shadow-lg" id="picture_container">
      <div class="row mt-4 mr-0 ">
        {% for image in images %}
          <div class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
              <div id="crop_photo_home" class="zoom">
                <a href="{% url 'profile' image.user.id %}"><img class="user-img home_photos" src="{{ image.file.url }}" alt=""></a> 
              </div>
              <!-- <hr id="homepage_hr"> -->
              <br>
              
          </div>
        {% endfor %}
      </div>

    </div>
    <br><br><br>

  {% endif %}

</div>

{% endblock %}
