{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

   <!-- <div class="container"> -->
      <div class="container text-center">
         <br><br><br><br><br>
            <b><h2>Search for Users</h2></b>
            <br>
            <h4>
               <ul>Lookup Users by one of the following:
                  <li>First Name</li>
                  <li>Username</li>
                  <li>Location</li>
               </ul>
            </h4>
         
         <div id="search_caption">
            <div class="row">
               <form action="{% url 'search' %}" method="POST" id="searchbar_form">
                  {% csrf_token %}
                  <div class="col-10" id="searchbar_container">
                     <input id="search_bar" type="text" placeholder="Search here..." name="q">
                  
               
                     <div class="form-group ml-0">
                        <select class="form-control" id="dropdownMenuButton" name="follower_amount">
                           <!-- give each filter a value -->
                           <option value="0">Any</option>
                           <option value="100">0 to 100</option>
                           <option value="1000">100 to 1000</option>
                           <option value="5000">1000 to 5000</option>
                           <option value="10000">5000 to 10000</option>
                           <option value="50000">10000 to 50000</option>
                           <option value="100000">50000 to 100000</option>
                        </select>
                     </div>
                     <br>
                  </div>
                  <div class="row">
                     <div class="col text-center">
                        <br>
                        <button type="submit" value="Search" id="search_btn" class="btn btn-outline-dark mt-2">Search</button>
                     </div>
                  </div>
               </form>
            </div>
            <br><br>
            {% for profile in results %}
               <a href="{% url 'profile' profile.user.id %}">
                  <!-- <button id="msg_list" class="btn btn-outline-dark">
                        <img id="small_img" src="{{ profile.profile_picture.url }}" alt="">
                        <span id="small_search">{{ profile.user.username }} | {{ profile.location }} | Follower Amount: {{ profile.follower_amount }}</span>
                  </button> -->
                  <button id="small_search_result" class="btn btn-outline-dark shadow mb-1">
                     <div class="row">
                         <div class="col-3 text-left">
                             <img id="search_img" src="{{ profile.profile_picture.url }}" alt="">
                         </div>
                         <div class="col-9 text-right pt-2">
                             <span id="small_search">{{ profile.user.username }} | {{ profile.location }} | Follower Amount: {{ profile.follower_amount }}</span>
                         </div>
                     </div>
                  </button>
               </a>
            {% endfor %}
      </div>
   <!-- </div> -->

{% endblock %}

<!-- <img id="profile_photos" class="user-img" src="{{ image.file.url }}" alt=""> -->
   