{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <div class="container mt-5">
      <form class="example" method="GET">
        <input type="text" placeholder="Name here..." name="search">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
    
    {% for result in all_search_results %}
       {{ result.username }}
    {% empty %}
       add something to show no results
    {% endfor %}

    </div>
</div>


{% endblock %}