{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

   <!-- <div class="container"> -->
      <div class="container text-center">
         <br><br><br><br><br>
            <b><h2>Search</h2></b>
         <div class="caption_search">
            <form action="{% url 'search' %}" method="GET">
               <input id="search_bar" type="text" placeholder="Name here..." name="q" value="{{ request.GET.q }}">
               <br>
               <button type="submit" value="Search" class="btn btn-outline-dark mt-2">Search</button>
            </form>
            <br><br>
            {% for profile in results %}
               <a href="{% url 'profile' profile.user.id %}">
                  <button id="msg_list" class="btn btn-outline-dark">
                     <h4 class="mt-3"><img src="{{ user_profile.profile_picture.url }}" alt=""> {{ profile.user.username }} | {{ profile.city }} | Follower Amount: {{ profile.follower_amount }}</h4>
                  </button>
               </a>
            {% empty %}
               NO RESULTS
            {% endfor %}
      </div>
   <!-- </div> -->

{% endblock %}
