{% extends 'base.html' %}

{% block content %}
    <h2>Title: {{ todo.title }}</h2><br>
    <h3>Text:</h3>
    <h4>{{ todo.text }}</h4><br>
    <h3>Current Status: {{ todo.status }}</h3><br>
    <h3>{{ todo.create_at }}</h3><br>
    <span><form method="POST" action="http://localhost:8000/todos/mark/{{ todo.id }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Mark Done</button></form> |
    <a id="remove" href="http://localhost:8000/todos/remove/">Remove</a> |
    <a id="update" href="http://localhost:8000/todos/update/">Update</a> | 
    <a id="list" href="http://localhost:8000/todos/">Back to list</a> | </span>
{% endblock %}

<!-- <a id="mark" method="POST" href="http://localhost:8000/todos/mark/{{ todo.id }}/" action="">Mark Done</a> -->

