{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Message{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="container text-center">
        <div class="mt-5">
            <br><br>
            <b><h3>Sending Message to {{ sending_to }}</h3></b>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <input id="msg_subject" class="mt-5 mb-0" type="text" name="subject" placeholder="Add Subject here...">
            <input id="msg_box" class="pl-2 pb-5 mt-0" type="text" name="body" placeholder="Enter in text here...">
            <button class="btn btn-outline-dark mt-2" type="submit">Send Message</button>
        </form>
            <a href="{% url 'profile' redirect %}"><button class="btn btn-outline-dark mt-2">Discard Message</button></a>
    </div>
    {% endif %}

{% endblock %}
