{% extends 'base.html' %}


{% block title %}Message{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
    <div class="container">
        <br><br><br><br><br>
        <h4>{{ message.conversation_name }}</h4>
        {% for msg in message %}
        <hr class="mb-1">
            {% if msg.sender == request.user.username %}
                <p>{{ msg.created_date | date:"F d" }} - {{ msg.created_date.time }} | <b>{{ msg.receiver }}</b>:  {{ msg.body }}
            {% else %}
                <p>{{ msg.created_date | date:"F d" }} - {{ msg.created_date.time }} | <b>{{ msg.sender }}</b>:  {{ msg.body }}
            {% endif %}
        {% empty %}
            <p>Inbox is EMPTY</p>
        {% endfor %}
        <form method="POST" action="">
            {% csrf_token %}
            <br>Body:<br> <input type="text" name="body" cols="30" rows="10" placeholder="Enter in text here...">
            <button class="btn btn-outline-dark" type="submit">Send Message</button>
        </form>   
        </div>
    {% endif %}

{% endblock %}
