{% extends 'base.html' %}


{% block title %}Inbox{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container-fluid mt-5 mb-5">
                {% for msg in inbox_msgs %}
                <table style="width:100%">
                    <tr>
                        <th>Date:</th>
                        <th>Conversation:</th>
                        <th>Subject:</th>
                    </tr>
                    <tr>
                        <td>{{ msg.published | date:"F d" }} - {{ msg.published.time }}</td>
                        <td><p><a href="{% url 'user-msg' msg.id %}">{{ msg }}</a></p></td>
                        <td><p>Subject: {{ msg.subject }}</p></td>
                    </tr>
                {% empty %}
                    <p>Inbox is EMPTY</p>
                {% endfor %}
                {% for msg in inbox_froms %}
                    <tr>
                        <td>{{ msg.published | date:"F d" }} - {{ msg.published.time }}</td>
                        <td><p><a href="{% url 'user-msg' msg.id %}">{{ msg }}</a></p></td>
                        <td><p>Subject: {{ msg.subject }}</p></td>
                    </tr>
                {% empty %}
                    <p>Inbox is EMPTY</p>
                {% endfor %}
                </table>
        </div>
    {% endif %}

{% endblock %}
