
{% extends 'base.html' %}


{% block title %}Inbox{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h2><b>{{ user }}'s Inbox</b></h2>
    </div>
    {% if user.is_authenticated %}
        <div class="container-fluid mt-5 mb-5">
            <table style="width:100%">
                <tr>
                    <th>Date:</th>
                    <th>Conversation:</th>
                    <th>Subject:</th>
                </tr>
                {% for msg in message %}
                    <tr>
                        <td>{{ msg.sent_date | date:"F d" }} - {{ msg.sent_date.time }}</td>
                        <td><p><a href="{% url 'user-msg' msg.id %}">{{ msg }}</a></p></td>
                        <td><p>Subject: {{ msg.subject }}</p></td>
                    </tr>
                {% empty %}
                    <p>Inbox is EMPTY</p>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
