{% extends 'base.html' %}

{% block content %}
    <h2>
        <a href="http://localhost:8000/app/saveurl/" action="GET">Add URL</a>
        
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>URL</th>
            </tr>
            {% for ele in urls %}
            <tr>
                <td>{{ ele.id }}</td>
                <td><a href="http://localhost:8000/app/redirecting/{{ ele.code }}/">{{ ele.code }}</a></td>
                <td>{{ ele.url }}</td>
            </tr>
            {% empty %}
                <p>URL List is EMPTY</p>
            {% endfor %}
        </table>
    </h2>
{% endblock %}